/**{
    border: 1px solid red !important;
}
*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*{
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 450px) and (orientation: landscape){
    p {
        background-color: blue;
        display: none;
    }
}

/*@media only screen and (min-width: 500px) {
    p {
        background-color: blue;
        /*display: none;
    }
}*/

.logo{
    width: 12%;
    font-size: 65px;
    font-weight: bolder;
    color: #F8981C;
    border: 8px solid #F8981C;
    border-radius: 50%;
    padding: 9px 9px 9px 19px;

}

.rightAlign{
    text-align: right;
}

.headTitle{
    width: 88%;
}
.headerH1{
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 0px;
}

.subTitle{
    font-weight: bold;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.line{
    margin-top: 15px;
    border: 2px solid #BCBBBB;
}

.mainImg{
    margin-top: 25px;
}
.featureProperties{
    color: #BCBBBB;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.space{
    padding: 10px;
}

.imgCenter{
    text-align: center;
    display: block;
}

.imgRight{
    text-align: right;
    display: inline-block;
}

.workTitle{
    text-align: center;
    display: block;
    color: #033;
    font-weight: bolder;
}

.workTitle .col-4 .workType{
    margin-top: 10px;
    margin-bottom: 10px;
}
.workLink{
    text-align: center;
    display: block;
    font-weight: lighter;
    font-size: 15px;
}

.grid{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    overflow: auto;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}